<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reset Your Password</title>
</head>
<body>
  <h2>Password Reset Request</h2>
  <p>Hello,</p>
  <p>We received a request to reset your password for your SendIt account.</p>
  <p>Your password reset code is:</p>
  <h3><%= code %></h3>
  <p>This code will expire in 15 minutes. If you did not request a password reset, you can safely ignore this email.</p>
  <p>Thank you,<br/>The SendIt Team</p>
</body>
</html> 