<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Parcel Status Update</title>
</head>
<body>
  <h2>Parcel Status Update</h2>
  <p>Hello <%= name %>,</p>
  <p>The status of your parcel (Tracking #: <%= trackingNumber %>) has been updated to:</p>
  <h3><%= status %></h3>
  <p>Thank you for using SendIt!</p>
  <p>Best regards,<br/>The SendIt Team</p>
</body>
</html> 